<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--                PROPERTIES                 -->
    <xacro:property name = 'mu1' value = '0.5'/>
    <xacro:property name = 'mu2' value = '0.5'/>

    <!--                STRUCTURAL LINKS                 -->
    <gazebo reference = 'chassis_link'>
        <material>Gazebo/Black</material>
    </gazebo>

    <!--                WHEELS                 -->
    <gazebo reference = 'rear_left_wheel'>
        <material>Gazebo/Grey</material>
        <mu1 value="${mu1}" />
        <mu2 value="${mu2}" />
    </gazebo>

    <gazebo reference = 'rear_right_wheel'>
        <material>Gazebo/Grey</material>
        <mu1 value="${mu1}" />
        <mu2 value="${mu2}" />
    </gazebo>

    <gazebo reference = 'front_left_wheel'>
        <material>Gazebo/Grey</material>
        <mu1 value="${mu1}" />
        <mu2 value="${mu2}" />
    </gazebo>

    <gazebo reference = 'front_right_wheel'>
        <material>Gazebo/Grey</material>
        <mu1 value="${mu1}" />
        <mu2 value="${mu2}" />
    </gazebo>
</robot>