<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--                ROS2 CONTROL HARDWARE INTERFACE:                 -->

    <ros2_control name = 'GazeboSystem' type = 'system'>
        <hardware>
            <!-- this plugin is our hardware interface, it allows us to talk
            to the gazebo simulation like we are talking to real hardware -->
            <plugin> gazebo_ros2_control/GazeboSystem </plugin>
        </hardware>
        
        <!-- rear left wheel -->
        <joint name = 'RLM_RLW_joint'>
            <command_interface name = 'velocity'>
                <param name = 'min'>-10</param>
                <param name = 'max'> 10</param>
            </command_interface>
            <state_interface name = 'velocity'/>
            <state_interface name = 'position'/>
        </joint>

        <!-- rear right wheel -->
        <joint name = 'RRM_RRW_joint'>
            <command_interface name = 'velocity'>
                <param name = 'min'>-10</param>
                <param name = 'max'> 10</param>
            </command_interface>
            <state_interface name = 'velocity'/>
            <state_interface name = 'position'/>
        </joint>

        <!-- front left wheel -->
        <joint name = 'FLM_FLW_joint'>
            <command_interface name = 'velocity'>
                <param name = 'min'>-10</param>
                <param name = 'max'> 10</param>
            </command_interface>
            <state_interface name = 'velocity'/>
            <state_interface name = 'position'/>
        </joint>

        <!-- front right wheel -->
        <joint name = 'FRM_FRW_joint'>
            <command_interface name = 'velocity'>
                <param name = 'min'>-10</param>
                <param name = 'max'> 10</param>
            </command_interface>
            <state_interface name = 'velocity'/>
            <state_interface name = 'position'/>
        </joint>
    </ros2_control>

    <!--                GAZEBO ROS2 CONTROL PLUGIN:                 -->

    <gazebo>
        <plugin name = 'gazebo_ros2_control' filename = 'libgazebo_ros2_control.so'>
            <parameters>$(find MRP_Description)/config/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>