<?xml version="1.0"?>
<robot name='MRP' xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the xacro files that contain our robot -->
    <xacro:include filename = "MRP_Body.xacro"/>
    <xacro:include filename = "MRP_Gazebo_Properties.xacro"/>
    <xacro:include filename = "MRP_Control.xacro"/>

</robot>